.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 100%;
  
}

.header{
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  margin: auto;
}
.listLink {
  text-decoration: none;
  color: #282c34
}

.HP1 {
  text-decoration: none;
  color: #282c34;
}

.listItem {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
}

.imagenes{
  width: 60%;
  display: flex;
}

.itemTextContainer{
display: flex;
flex-direction: column;
align-items: baseline
}
.formLabel{

  display: flex;
  flex-direction: column;
  width: 80%;
}
.formDiv form{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.formDiv label{
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}
.formDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-top: 20px;
  background-color: #61dafb;
  padding: 10px 50px;
  border: 0;
  border-radius: 10px;
  text-align: left;
  font-weight:900;
  color: white;
}
.formDiv input {
  margin: 5px 20px;
  border: 1px solid grey;
  border-radius: 10px;
}
